.prefixText {
  font-size: 12px;
  display: flex;
  align-items: center;
}
.prefixNo {
  font-size: 15px;
  font-weight: 500;
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 0 5px;
  line-height: 25px;
}
.detailText {
  font-size: 16px;
  line-height: 1.5em;
  white-space: pre-wrap;
}
.item {
  position: relative;
}
.mark {
  position: absolute;
  opacity: 0.25;
  left: 50%;
  top: 30%;
  transform: rotate(-40deg);
  font-size: 24px;
  font-weight: bolder;
  padding: 0 5px;
}
.mark.red {
  color: red;
  border: 2px solid rgba(255, 0, 0, 0.25);
}
.mark.blue {
  color: #2c66da;
  border: 2px solid rgba(44, 102, 218, 0.25);
}
.type {
  font-size: 15px;
}
.red .prefixNo,
.red .type {
  color: red;
}
.red .prefixNo {
  border: 1px dashed red;
  color: red;
}
.blue .prefixNo {
  border: 1px dashed #2c66da;
  color: #2c66da;
}

.detail {
  overflow: auto !important;
  padding: 0 12px;
  height: 100%;
}
.content {
  margin-top: 31px;
}
.adm-list-item-content {
  padding: 12px 0px 12px 0;
}
.adm-list-item {
  padding-left: 0;
}

.adm-tabs-tab-list {
  position: fixed;
  width: 100%;
  z-index: 9999999;
  background: #fff;
}
.redbold {
  color: red;
  font-weight: bolder;
}

.vote {
  white-space: pre-wrap;
}
.timeNote {
  border: 1px dashed #333;
  padding: 10px 12px;
  line-height: 1.5;
  font-size: 14px;
}
.bluebold {
  color: #2c66da;
  font-weight: bolder;
}
.imgwechat {
  width: 150px;
}
